<script>
  import { onMount } from 'svelte';
  export let t;

  onMount(async () => {
    const tkn = await fetch('/api/token');
    t = await tkn.text();
  });
</script>

<main>
  <p>{t ? t : 'Getting Token...'}</p>
  <input placeholder="Enter Email" />
  <select>
    <option>Opt 1</option>
    <option>Opt 2</option>
  </select>
</main>
